*,::before,::after{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	list-style: none;
}

.container-fluid{
	margin:0;
	padding: 0;
}
a:hover{
	text-decoration: none;
}
.top-header,footer,.card-img-top,.conseils,.consultations{
	background: #6d071a;
}
/*Header*/
.top-header{
	height: 0vh;
	min-height: 90px;
	max-height:90px;
	justify-content: space-between;
	width: 100vw;
}
.top-header a{
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	color:white;
	font-weight: bolder;
	font-size: clamp(1.5vw,1.5vw,18px);
}
.top-header a .fa-clock,.top-header a .fa-phone-alt{
	font-size: 3.8vw;
}
.search-bar{
	background: #7a1e2f;
	padding: 10px;
}
.search-bar table{
	width: 30%;
}
.search-bar input{
	padding-left: 15px;
	outline: none;
	border-radius: 20px;
	width: 110%;
}
.search-bar input::placeholder{
	font-style: italic;
	color: #7a1e2f;
}
.search-bar table a{
	color: #7a1e2f;
	font-size: clamp(20px,20px,30px);
}
/*fin Header*/
/* banniere*/
.banner{
	background: url(../../images/dame.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 800px;
}
.inner-banner a{
	font-size: 2vw;
	font-weight: bolder;
	color: white;
}
.inner-banner{
	background-color:rgba(0,0,0,0.3);
	padding: 20px;
	height: 100%;
	width: 100%;
}
.inner-banner .nav{
	justify-content: space-evenly;
}
.inner-banner .nav li:last-of-type{
	padding: 10px 30px;
	background: #0096ff;
}
/*fin banniere*/
/* Corps principal */
.white_cont{
	flex-direction: column;
	color: #6d071a;

}
.white_cont h1{
	margin: 30px 0;
	text-transform: uppercase;
	text-align:center;
}
.white_cont h1 span:first-of-type{
	font-weight: bold;
}
.white_cont h1 span:last-of-type{
	font-weight: lighter;
}
	/* premier block*/
.white_cont > div{
	border:1px solid blue;
	width: 100%;
	justify-content: space-around;
}
.white_cont div:first-of-type{
	padding: 30px 0;
}
.bio::before{
	content: '';
	display: inline-block;
	position: absolute;

	background: #6d071a;
	width: 2px;
	transform: translate(-50px,0px);
	height: 650px;
}
.loca_text{
	margin-left: 80px;
}
.loca_text2{
	margin-left: 150px;
}
.loca_text2 a{
	color: #6d071a;
}
.bio h2{
	text-transform: uppercase;
	margin:30px 0 30px 0;
}
	/* fin premier block*/
/* fin Corps principal*/




@media screen and (max-width: 300px){
	.banner{
	background: url(../../images/dame.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 300px;
	}
	.local iframe,.log2{
		display: none;
	}
	.white_cont div:nth-of-type(1){
		display: flex;
		flex-direction: column;
	}
	.loca_text{
	margin-left: 0;
	}
	.loca_text2{
		margin-left: 0;
	}
	
	.two{
		display: none;
	}

	h3{
		font-size: 17px;
	}
}